h1{
    color:Blue;
}
h3{
    color: white;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
body{
    background-color: burlywood;
}
.para{
    background-color: cadetblue;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
}
